@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gluten: var(--font-gluten);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes colorCycle {
  0%, 100% { background-color: #ef4444; } /* red-500 */
  33% { background-color: #3b82f6; }      /* blue-500 */
  66% { background-color: #10b981; }      /* emerald-500 */
}

.animate-color-cycle {
  animation: colorCycle 6s infinite;
  animation-timing-function: ease-in-out;
}

/* The filling bar that expands */
.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #D31027 0%, #EA384D 100%);
  width: 1%; /* Starting point */
  animation: fillUp 10s infinite forwards; /* Runs the animation once and stays at 100% */
}

/* Animation timeline going from 1% to 100% */
@keyframes fillUp {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}


